.Footer{
    width: 100%;
    background-color: rgb(0,38,76);
    color:rgba(198, 194, 194, 0.988);
 
    left: 0;
    bottom: 0;
    right: 0;
  

   
    
}

.container{
    padding:30px;
    
    font-family: "Open Sans",Arial,sans-serif;
    
}

.contact{
    padding:10px;
    padding-top: 40px;

    text-align: right;
    color:white;
    font-family: "Open Sans",Arial,sans-serif;
    
}

.about{
    text-align: left;
    font-family: "Open Sans",Arial,sans-serif;
    padding:10px;
}

.about h3{
    color:rgb(45,128,210);
}