


.formContainer{
    
    box-shadow: 0 20px 20px -20px rgb(45,128,210);
    padding: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    color:rgb(45,128,210);
    background-color: rgb(0,0,0,0.05);;
    
}

.adminCard{
    box-shadow: 0 20px 20px -20px rgb(45,128,210);
    padding: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    color:rgb(45,128,210);
    background-color: rgb(0,0,0,0.05);

}
textarea{
    width: 100%;
    height:40px;
    padding:3px 3px 3px 8px;
    margin: 3px;
    float: right;
    border-color: rgb(45,128,210);
    height:100px;
    color: rgb(0, 0, 0,0.8);
    
   

}
input::placeholder{
    color: rgb(0,38,76, 0.5);
    font-size: medium;

}
label{
   
    width: 100%;
    font-size: larger;
    text-align: left;
    color:rgb(0,38,76);
    margin-left: 10px;
    
  
   

}

input{
 
    width: 100%;
    height:40px;
    padding:3px 3px 3px 8px;
    margin: 3px;
    float: right;
    border-color: rgb(45,128,210);
    color: rgb(0, 0, 0,0.8);
    
   
}
.signUpError{
    font-size:larger;
    color:rgb(136, 3, 8);
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signUpSuccess{

    font-size:larger;
    color:rgb(27, 52, 3);
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

select label{
    text-align: center;
}

select{
  
    box-shadow: 0 20px 20px -20px rgb(45,128,210);
    padding: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
    color:rgb(45,128,210);
    background-color: rgb(0,0,0,0.05);
    
    
}
option{
    height: 40px;

}
.ro-text{
    text-align: center;
}
button.form{
  
   
    background-color:rgb(45,128,210) ;
    padding:5px 15px;
    font-size: large;
    margin: 15px;
}

button.formSucess{
  
   
    background-color:rgb(12, 104, 7) ;
    padding:5px 15px;
    font-size: large;
    margin: 15px;
}

button.formSucess:hover{
  
   
    background-color:rgb(12, 104, 7) ;
    padding:5px 15px;
    font-size: large;
    margin: 15px;
}

button.form:hover{
    
    font-size: large;
    color: white;
    text-decoration: none;
    background-color:rgb(45,128,210) ;
    
}