.jumbotron{
    margin: 0;
    padding:25px 5px;
}
.navbar-toggler{
    color:rgb(236, 22, 47);
}
.navbar-brand{
    float: none;
}

.appName{

    
    color:rgb(236, 22, 47);
    font-size: 22px;
    border: rgb(236, 22, 47) solid 2px;
    padding:4px 6px;

    
}

.nav-item .nav-link{
    color: rgb(236, 22, 47);


}
.bg-dark ul li a{


    color: rgb(236, 22, 47);
    text-align: center;
    font-size: 18px;
    

    
 

}

.bg-dark ul li a:hover {

    font-size: 25px;
    color: rgb(236, 22, 47);
    text-decoration: none;
   

}

.navbar-toggler-icon{
    color: rgb(236, 22, 47);
}